.section-mv {
    text-align: center;
    width: 100vw;
    height: 137vw;
    background-color: #043873;
    background-image: url('../../assets/image/background-img.png');
    background-repeat: no-repeat;
    background-size: 100vw 90vw;
    color: #fff;

    &__rect {
        height: 18vw;
    }

    &__title {
        font-size: 7vw;
    }

    &__desc {
        font-size: 2.5vw;
        margin-top: 3.12vw;
        margin-bottom: 7.8vw;
    }

    &__button {
        background-color: #4F9CF9;
        padding: 2.6vw 5.2vw;
        border: none;
        color: #fff;
        border-radius: 1vw;
    }

    &__img {
        width: 71.7vw;
        height: 47.8vw;
        margin: 13vw auto;
        background-color: #C4DEFD;
    }

}

.section-management{
    text-align: center;
    width: 100vw;
    height: 137vw;
    color: #000;
    &__title{
        font-size: 7vw;
    }
    &__desc{
        font-size: 2.5vw;
        margin-top: 3.12vw;
        margin-bottom: 7.8vw;
    }

}